<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helloworld.candor.candor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_green_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RewardsActivity" />
        <activity
            android:name=".CompanySummaryActivity"
            android:label="@string/title_activity_company_summary"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloworld.candor.candor.MainActivity" />
        </activity>
        <activity
            android:name=".MoreInformationActivity"
            android:label="@string/title_activity_more_information"
            android:parentActivityName=".CompanySummaryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.helloworld.candor.candor.CompanySummaryActivity" />
        </activity>
    </application>

</manifest>